label {
    text-align: center;
    margin-right: 20px;
}

label input {
    margin-right: 20px;
}

.registroTitulo {
    padding-top: 20px;
    text-align: center;
}

.registro {
    border: 1px solid #55006e;
    width: 260px;
    height: 185px;
    margin: auto; 
    padding-top: 8px;
    padding-left: 40px;
    color: #55006e;
}

.registro button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #55006e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35px;
}
